$corn: #e3b505;
$cinnabar: #ea4335;
$selective-yellow: #fbbc05;
$chateau-green: #4aad4a;
$cornflower-blue: #4285f4;
$electric-violet: #4b00ff;
$valencia: #db504a;
$violet: #aa14ff;
$tallow: #a29c88;

//Shades Of Gray
$steel-gray: #1d1e2c;
$dusty-gray: #989898;
$mid-gray: #585967;
$gray: #848484;
$manatee-gray: #8d8f9c;
$pearl-gray: #a8a9b5;
$alto-gray: #dcdcdc;
$concrete-gray: #f2f2f2;
$lilac-gray: #f7f5fc;

$white: #fff;
$black: #000;

// Project assets
$base-black: $steel-gray;
$primary: $electric-violet;
$primary-highlight: $violet;
$primary-bg: $lilac-gray;
$secondary: $valencia;
$primary-gradient: linear-gradient($primary 0%, $primary-highlight 100%);


